html {
  box-sizing: border-box;
  font-family: serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;

}
